@import "tailwindcss";



@layer components {

  .custom-header {
    @apply w-full fixed top-0 left-0 bg-gray-900 text-white p-4 shadow-md z-50
  }

  .custom-navbar {
    @apply flex justify-between items-center mx-auto
  }

  .dashboard-content{
    @apply bg-white min-h-screen overflow-y-hidden
  }

  .dashboard-content-grid{
    @apply grid grid-cols-[300px_60px_60px] gap-0.5 w-fit text-white text-sm
  } 
.dashboard-content-fragtment{
    @apply bg-gray-800 p-2.5 grid items-center justify-center hover:cursor-pointer hover:bg-gray-400 
  }
  
  .form-container{
    @apply absolute grid-rows-4 w-2xs bg-white rounded top-40 left-1/2 -translate-x-1/2 text-sm pt-2 px-2 pb-4 shadow-lg
  } 

  .modal-container{
    @apply absolute grid-rows-4 w-2xs bg-white rounded top-40 left-1/2 -translate-x-1/2 text-sm p-4 
  
  }
}